table, th, td {
    border: 1px solid black;
}

form {
    margin: 0;
}

.label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

.available {
    background-color: green;
}

.not-available {
    background-color: red;
}

.error {
    color: red;
}